<html>
  <head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Video Streaming Demonstration</title>
  </head>
  <body>
  <!--    <h1>Video Streaming Demonstration</h1>-->
    

 <!-- navigation -->
    <header>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-white">
       <!--         <a class="navbar-brand" href="#">Vex</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
-->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto text-center text-lg-left">
                        <li class="nav-item">
                            <a class="nav-link" href="#">HOME</a>
                        </li>
            <!--                   <li class="nav-item">
                            <a class="nav-link" href="#about">ABOUT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#service">SERVICE</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contact">CONTACT</a>
                        </li>	-->
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <!-- /navigation -->

    <!-- hero area -->
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center mb-5 mb-md-0">
                    <img src="{{ url_for('video_feed') }}" alt="">
                </div>
                <div class="col-md-6 align-self-center text-center text-md-left">
                    <div class="block">
                        <h1 class="font-weight-bold mb-4 font-size-60">Video Streaming Demonstration</h1>
                        <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna. Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit. Voluptas, modi fugit in veritatis labore perferendis. Minima hic at, nostrum nihil!</p>
                        <a class="btn btn-main" href="#about" role="button">Выключить</a>
                    </div>
                </div>
            </div><!-- .row close -->
        </div><!-- .container close -->

	<!--
	<footer>
        <div class="container text-center">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">

                        <p class="copyright-text">Copyright &copy; <a href="http://www.Themefisher.com">Themefisher</a>|
                            All right reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>-->
	<!-- Js -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" ></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>
  </body>
</html>
